.*
!/.gitignore
!/.bashrc
!/.zshrc
!/.profile
/Books/
/Code/
/Data/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/External/
/Lightworks/
/Pictures/
/Python-3.3.5/
/Videos/
/VirtualBox VMs/
/dotfiles.sublime-workspace
/go/
/kdenlive/
/keyring.deb
/snap/
/teaching/
/temp/
