*bazel-*
*compile_commands.json
*.sublime-workspace
.FreeCAD/
.ICEauthority
.Skype/
.Xauthority
.adobe/
.apport-ignore.xml
.bash_history
.bash_logout
.bashrc_BACKUP*
.bashrc_*
.cache/
.cargo/
.cmake/
.config/
.dropbox-dist/
.dropbox/
.fltk/
.fontconfig/
.fonts/
.fweelin/
.gconf/
.gem/
.giada/
.gimp-2.8/
.gitconfig
.gksu.lock
.gnome/
.gnupg/
.gtkrc-2.0
.gtkrc-2.0-kde4
.icons/
.ipython/
.jackdrc
.jupyter/
.kde/
.lightworks.thereCanBeOnlyOne
.lldb/
.local/
.log/
.macromedia/
.mozilla/
.oh-my-zsh/
.openshot_qt/
.pki/
.python_history
.recently-used
.ros/
.scummvm/
.ssh/
.subversion/
.sudo_as_admin_successful
.svg
.sync-settings.log
.texlive2017/
.texmf-var/
.themes/
.travis/
.vagrant.d/
.viminfo
.virtualenvs
.wakatime.cfg
.wakatime.db
.wakatime.log
.wget-hsts
.xsession-errors
.z
.zcompdump
.zcompdump-igor-acer-5.1.1
.zoom/
.zsh-update
.zsh_history
.zsh_history.new
.zshrc.zwc
Books/
Code/
Data/
Desktop/
Documents/
Downloads/
Dropbox/
External/
Lightworks/
Pictures/
Python-3.3.5/
Videos/
VirtualBox VMs/
a.out
data.txt
file.cc
file.o
go/
kdenlive/
keyring.deb
snap/
teaching/
temp/
test/
.antigen/
/.antigen.zsh
